<% provide :title, t("books.list_books") %>

<div class="panel-heading"><%= t "books.list_books" %></div>
<div class="panel-body">
  <div class="main-box-body clearfix">
    <%= form_tag admin_books_path, method: :get,
      id: "users_search" do %>
      <div class="tab_search clearfix">
        <%= link_to t("books.add_book"), new_admin_book_path, class: "add" %>
        <p class="admin-search">
          <%= text_field_tag :search, params[:search], placeholder:"Search book..." %>
          <%= submit_tag t "users.search", name: nil %>
        </p>
      </div>
      <div class="table-responsive" id="users_id">
        <table class="table user-list">
          <thead>
            <tr>
              <th><span><%= t "books.thumnail" %></span></th>
              <th><span><%= t "books.book_name" %></span></th>
              <th><span><%= t "books.book_description" %></span></th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <%= render @books %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= will_paginate @books %>
    <p>
      <%= link_to t("user.export_excel"),
          admin_books_path(format: Settings.xls) %>
    </p>
  </div>
</div>