<% provide :title, t("authors.list_authors") %>

<div class="panel-heading"><%= t "authors.list_authors" %></div>
<div class="panel-body">
  <div class="main-box-body clearfix">
    <%= form_tag admin_authors_path, method: :get,
        id: "author_search" do %>
      <div class="tab_search clearfix">
        <%= link_to t("authors.add_author"), new_admin_author_path, class: "add" %>
        <p class="admin-search">
          <%= text_field_tag :search, params[:search], placeholder:"Search author..." %>
          <%= submit_tag t "authors.search", name: nil %>
        </p>
      </div>
      <div class="table-responsive" id="users_id">
        <table class="table user-list">
          <thead>
            <tr>
              <th><span><%= t "authors.name" %></span></th>
              <th><span>Details</span></th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <%= render @author %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= will_paginate @author %>
    <p>
      <%= link_to t("user.export_excel"),
        admin_authors_path(format: Settings.xls) %>
      </p>
  </div>
</div>