<li class="author">
  <div class="content_author">
    <h4 class="name_author"><%= link_to author.name, author %></h4>
    <p><%=  except_text author.description.to_s %></p>
    <% unless current_user?(@user) %>
      <div id="follow_form_author_<%= author.id %>" class="btn_book">
        <% unless current_user.following_author?(author) %>
          <%= link_to t("users.follow"), "", class: "followauthor",
            "data-id": author.id, remote: true %>
        <% else %>
          <%= link_to t("users.unfollow"), "",
            class: "followauthor destroy",
            "data-id": author.id, remote: true %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
