<li class="book">
  <div class="content_book">
    <%= image_tag book.image.url, class: "img-responsive" if book.image? %>
    <h4 class="name_book"><%= link_to book.name, book %></h4>
    <% unless current_user?(@user) %>
      <div id="follow_form_book_<%= book.id %>" class="btn_book">
        <% unless current_user.following_book?(book) %>
          <%= form_for(current_user.follow_books.build, remote: true) do |f| %>
            <div><%= hidden_field_tag :book_id, book.id %></div>
          <%= f.submit "Follow", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.follow_books.find_by(book_id: book.id),
            html: { method: :delete }, remote: true) do |f| %>
            <%= f.submit "Unfollow", class: "btn" %>
          <% end %>
        <% end %>
      </div>
      <div id="like_form_book_<%= book.id %>" class="btn_book">
        <% unless current_user.liking_book?(book) %>
          <%= form_for(current_user.like_actives.build, remote: true) do |f| %>
            <div><%= hidden_field_tag :book_id, book.id %></div>
          <%= f.submit "Like", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.like_actives.find_by(book_id: book.id),
            html: { method: :delete }, remote: true) do |f| %>
            <%= f.submit "Unlike", class: "btn" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</li>
