<% provide :title, t("categories.list_categories") %>

<div class="panel-heading"><%= t "categories.list_categories" %></div>
<div class="panel-body">
  <div class="main-box-body clearfix">
    <%= form_tag admin_categories_path, method: :get,
      id: "category_search" do %>
      <div class="tab_search clearfix">
        <%= link_to t("categories.add_category"), new_admin_category_path, class: "add" %>
        <p class="admin-search">
          <%= text_field_tag :search, params[:search], placeholder:"Search name..." %>
          <%= submit_tag t "categories.search", name: nil %>
        </p>
      </div>
      <div class="table-responsive" id="users_id">
        <table class="table user-list">
          <thead>
            <tr>
              <th><span><%= t "categories.name" %></span></th>
              <th><span><%= t "categories.create_at" %></span></th>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <%= render @categories %>
          </tbody>
        </table>
      </div>
    <% end %>
    <%= will_paginate @categories %>
    <p>
      <%= link_to t("user.export_excel"), admin_categories_path(format: Settings.xls) %>
    </p>
  </div>
</div>