<tr>
  <td class="thumnail_image"><%= image_tag user.avatar.url if user.avatar? %></td>
  <td><%= user.fullname %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td>
    <%= link_to edit_admin_user_path(user), class: "btn-edit" do %>
      <i class="fa fa-pencil-square-o"></i>
    <% end %>
  </td>
  <td>
    <%= link_to admin_user_path(user),
      method: :delete, class: "btn_delete" do %>
        <i class="fa fa-trash-o"></i>
    <% end %>
  </td>
</tr>