<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>
  </head>
  <body>
      <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed">
              <span class="sr-only"></span><i class="fa fa-bars"></i>
            </button>
            <%= link_to image_tag("logo.png"), root_path, class: "logo_f" %>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <%= link_to t("sessions.account"), Settings.link_setting,
                    "data-toggle": "dropdown", class: "dropdown-toggle" %>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", current_user %></li>
                    <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                    <li><%= link_to "List borrowing books", borrowing_book_user_path(current_user) %></li>
                    <li>
                      <%= link_to t("sessions.logout"), logout_path,
                        method: "delete" %>
                    </li>
                  </ul>
                </li>
            </ul>
          </div>
        </div>
      </nav>
    <main>
      <div class="container admin-page">
        <div class="row">
          <div class="col-md-3 left-sidebar">
            <h3 class="title_page"><%= Settings.text_user_sidebar %></h3>
            <ul class="list_admin">
              <li><%= link_to "Manager users", admin_users_path %></li>
              <li><%= link_to "Manager books", admin_books_path %></li>
              <li><%= link_to "Manager authors", admin_authors_path %></li>
              <li><%= link_to "Manager publishers", admin_publishers_path %></li>
              <li><%= link_to "Manager categories", admin_categories_path %></li>
              <li><%= link_to "Manager Borrow books", admin_borrow_books_path %></li>
            </ul>
          </div><!-- /.col-md-3 -->
          <div class="col-md-9 content-admin">
            <% flash.each do |type, message| %>
              <%= content_tag :div, class: "alert alert-#{type}
                alert-dismissible", role: "alert" do %>
              <button type="button" class="close"
                data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
              <%= message %>
              <% end %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
